/* BACKGOUND */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.main-content {
    min-height: 100vh;
    position: relative;
    text-decoration: none;
    color: white;
}

main.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 130px - 100px);

    padding: 40px 20px;

}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-page {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Main Layout */

.main-layout {
    display: grid;
    /* margin-bottom: 10px; */
    grid-template-columns: minmax(150px, 1fr) minmax(auto, 1020px) minmax(150px, 1fr);
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1/-1;
    background-color: var(--clr-primery-toolbar-panel);
}




body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
small {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.box {
    margin: 0 auto;
    z-index: 10;
}

main.main-content {
    overflow: hidden;
}

@media (max-width: 768px) {
    main.main-content {
        padding: 20px 10px;
        min-height: calc(100vh - 100px - 80px);
    }
}

@media (pointer: coarse) {
    .box {
        touch-action: pan-y;
    }
}

/* .logo-page {
    display: grid;
    position: absolute;
} */